.App {
  text-align: center; 
  padding:0;
}

.center{
  display:flex;
  justify-content: center
}

#alertWrapper{
  width:30vw;
  display:flex;
  justify-content: center;
  margin:auto;
  padding:3vh;
}